.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.th,
.td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.th {
  background-color: #f2f2f2;
}
